body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f075;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}